@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800&display=swap');

.word-phonetic {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    color: black;
    font-family: 'Raleway', sans-serif;
}

.word-phonetic > p:first-child{
    font-size: 1.4rem;
    text-decoration: underline;
}

.word-phonetic > p:last-child{
    font-size: 1.2rem;
}

.find-phonetic {
    display: flex;
    align-items: center;
}

.find-phonetic img {
    width: 35px;
    margin: 0 1rem;
}

@media screen and (max-width: 380px) {
    .word-phonetic {
        align-items: center;
    }
}